name: build

on:
  push:
    branches: [main]
    paths:
      - 'ca-images-iac/custom-jre.yaml'
  workflow_dispatch:

env:
  CUSTOM_IMAGE: "cgr.dev/cgr-demo.com/custom-jre"
  
permissions: {}

jobs:
  build-custom-image-as-code:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      id-token: write
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          ref: main

      - name: Setup Go environment
        uses: actions/setup-go@41dfa10bad2bb2ae585af6ee5bb4d7d973ad74ed # v5.1.0
        with:
          cache: false
      
      - uses: octo-sts/action@6177b4481c00308b3839969c3eca88c96a91775f # v1.0.0
        id: octo-sts
        with:
          scope: chainguard-demo/custom-assembly-as-code
          identity: build
          
      - name: Install Crane
        run: go install github.com/google/go-containerregistry/cmd/crane@latest

      - name: Install Cosign
        uses: sigstore/cosign-installer@dc72c7d5c4d10cd6bcb8cf6e3fd625a9e5e537da # v3.7.0
      
      - uses: chainguard-dev/setup-chainctl@8d93dcbef466d3cf3533f67084f52eb74ef9d262 # v0.2.4
        with:
          identity: "4cf15780a13a9b6576d8b357e6524554c8c12a18/50bc45ed7bbce68b"
        
      - name: 'Auth to Registry'
        run: |
          chainctl auth configure-docker
          chainctl auth status
  
      - name: Verify signature && pull existing image
        id: cosign-verify
        continue-on-error: false
        run: |
          # Images will be signed by either the CATALOG_SYNCER or APKO_BUILDER identity in your organization.
          # To find these values for your organization, you can view the "Assumed Identities" page in your organization settings.
          CATALOG_SYNCER="4cf15780a13a9b6576d8b357e6524554c8c12a18/c03040118377d88c"
          APKO_BUILDER="4cf15780a13a9b6576d8b357e6524554c8c12a18/ca93125e202f81f8"
          cosign verify \
            --certificate-oidc-issuer=https://issuer.enforce.dev \
            --certificate-identity-regexp="https://issuer.enforce.dev/(${CATALOG_SYNCER}|${APKO_BUILDER})" \
          $CUSTOM_IMAGE:openjdk-21 | jq

      - name: Check created time
        id: crane-config
        continue-on-error: false
        run: |
          echo "Created time: $(crane config $CUSTOM_IMAGE:openjdk-21 | jq -r .created)"
        
      # - name: Run chainctl images diff
      #   id: diff_vulnerabilities
      #   run: |

      #     CVE_LIST_JSON=$(chainctl images diff "${{ env.OLD_IMAGE }}" "${{ env.NEW_IMAGE }}" 2>/dev/null | jq -c 'select(.vulnerabilities.removed != null) | [.vulnerabilities.removed[] | select(.severity == "Critical" or .severity == "High") | .id]')
      #     echo "CVE_LIST=$CVE_LIST_JSON" >> $GITHUB_ENV

      #     if [ -n "$CVE_LIST_JSON" ]; then
      #       echo "Found CVE fixes for the following CVES: $CVE_LIST_JSON"
      #       echo "FIX_CVE=true" >> $GITHUB_ENV
      #     else
      #       echo "No CVE fixes available"
      #       echo "FIX_CVE=false" >> $GITHUB_ENV
      #     fi
